{% extends 'base.html' %}

{% block title %}
Все новости
{% endblock title %}

{% block content %}
<h1> Все новости </h1>
{{ time_now|date:'d M Y' }}
<div class="contaiter">
    <div class="row", style="margin-top:50px;">
        {% for post in posts_list %}
        <div class="col-sm">
            <div class="card border-secondary md-3" style="max-width: 20rem;">
                <div class="card-header"><h3>{{post.post_title}}</h3>   {{ time_now|date:'M d Y' }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{post.post_author}}</h4>
                    <p class="card-text">{{post.post_content |truncatewords:20 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}